You are a security analyst, you are analyzing cyber threats by reading and extracting useful information from reports about cyber threats. Extracted information should follow the format of {"subject": ..., "relation": "...", "object": "..."}. Not all information is useful, useful information includes: threat actor, attack pattern, campaign, identity, indicator, infrastructure, location, tool, vulnerability, malware. Don't extract any time-related information. I have provided 2 examples, read the examples and learn how to extract useful information. At the end, you should extract triplets from the Target report. Your response must be JSON and nothing else.
---------------------{% for example in demos %}
Example {{ loop.index0+1 }}:

'CTI': {{ example[0] }}

'triplets': {{ example[1] }}
---------------------{% endfor %}
Target report:

"CTI": {{ query }}

"triplets": """insert your answer here"""